#ticket_heading {
    color: #344054;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 1.5rem;
}

#ticketsubject {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;

}

/* viewDeatals button>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#viewDetails {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #344054;
    outline: none;
   border: 1px solid  #D0D5DD;
   padding: 5px 14px;
}
#colorGreen{
    color: green;
    background-color:#ECFDF3;
}
#colorRed{
    color: red;
    background-color:#FEF3F2;

}


#buttonbase{
text-transform: capitalize;
background-color: #164C96;
color: white;
}

#buttonbase:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    }
#a{
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 8rem;
    justify-content: flex-end;
}
#scrollbar  ::-webkit-scrollbar{
    display: none;
}
