.loginComp {
  display: flex;
  width: 100%;
  height: 100vh;
}

.leftComp {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: rgb(244, 244, 244);
  padding: 5px 20px;
}

.rightComp {
  width: 60%;
  height: 100%;
  position: relative;
  padding: 20px;
}

.signinform {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginform {
  width: 55%;
  display: flex;
  flex-direction: column;
}
.loginform span{
  font-weight: 900;
  color: #272727b9;
}
.loginform>i {
  margin-bottom: 10px;
  font-size: 1.8vw;
  background-color: rgba(110, 152, 231, 0.205);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgb(22, 76, 150);
}

.loginform h1 {
  font-size: 1.8vw;
  color: rgb(22, 76, 150);
  font-weight: 600;
}

.loginform h2 {
  color: rgb(22, 76, 150);
  font-weight: 600;
  font-size: 1.9vw;
  
}
.loginform h1,
.loginform h2,
.loginform p,
.content,
.loginform h3,
.content-2 ,
.boxx-1 .txt-2,
.createpage h4,
.txt-3,
.secondtxt h5,
.upload-bulk-products,
.forgatebtn {
  text-align: left;
}

.loginform p {
  color: rgba(22, 75, 150, 0.568);
  font-size: 16px;
}

.inputfrm {
  display: flex;
  flex-direction: column;
}

.inputfrm input {
  font-size: 1.2vw;
  color: #969696d0;
  height: 80px;
}

.inputfrm input::placeholder {
  color: #9696967d;
}

.forgetusr {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.forgetusr p {
  color: rgba(22, 75, 150, 0.568);
  font-size: 1vw;
  cursor: pointer;
}

.forgetusr a {
  font-size: 1vw;
}

.button {
  border-radius: 50px;
  background-color: #164C96;
  outline: none;
  border: none;
  height: 48px;
  color: #ffffff;
}

.buttonn button {
  border: none;
  height: 48px;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
}

.buttonn {
  border-radius: 20px;
  background-color: #164C96;
  outline: none;
  border: none;
  height: 48px;
}

.inputbox-1 {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #aac4e796;
  background-color: #164b9611;
  justify-content: space-between;
}

.inputbox-2 {
  background-color: #164b9611;
}

.inputbox-2 input {
  background-color: transparent;
}

.inputbox-1 input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 90%;
  height: 100%;
  margin-left: 10px;
}

.inputbox-1 i {
  margin-left: 10px;
}

.inputbox-2 input {
  outline: none;
  border: none;
  width: 80%;
  height: 100%;
}

.inputbox-2 {
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #aac4e796;
  justify-content: space-between;
}

.inputbox-2 i {
  margin-left: 10px;
}

.inputbox-2 .las {
  margin-right: 10px;
}

.inputbox-3 {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputbox-3-2 {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  height: 50px;
  border: 1px solid #aac4e796;
  background-color: #164b9611;
}
.inputbox-3-3 {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  height: 50px;
  border: 1px solid #aac4e796;
  background-color: #164b9611;
}
.inputbox-3 input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 90%;
  height: 100%;
  margin-left: 10px;
}
.inputbox-3 input::placeholder {
  color: #9696967d;
}

/* userSinUp */
.userSinUpMain {
  width: 100%;
  height: 9%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.userSinUp {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userSinUp a {
  font-size: 1vw;
  font-weight: 600;
  color: #8b8b8ba3;
  margin-left: 10px;
}

.userSinUp button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1vw;
  font-weight: 600;
  height: 35px;
  border-radius: 30px;
  width: 100px;
  border: 1px solid rgb(131, 171, 223);
  background-color: transparent;
  color: rgb(84, 119, 224);
}

.userSinUp button .las {
  color: rgb(84, 119, 224);
  font-size: 1.5vw;
}

.loginfooter {
  display: flex;
  margin-left: 10px;
  width: 60%;
  margin: 60px auto;
  /* margin-top: 20px; */
}

.loginfooter h5 {
  font-size: 1vw;
}

/* LEFTBNNER */

.img {
  width: 25%;
  height: 12%;
}

.img img {
  width: 100%;
  height: 100%;
}

.brandpic {
  width: 100%;
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerimg {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 40px;
}

.centerimg img {
  width: 100%;
  height: 100%;
}
.content {
  margin-top: 80px;
  margin-left: 50px;
  width: 100%;
  height: 30%;
}
.content h1 {
  font-size: 2.1vw;
  font-weight: 600;
}
.content-2 p {
  font-size: 0.9vw;
  color: rgba(0, 0, 0, 0.521);
}
.content-2 {
  line-height: 5px;
}
.content-2 i {
  color: #12b76a;
  font-size: 1.4vw;
}
.content-2 span {
  margin-left: 5px;
}
.content-3 p {
  line-height: 0.1px;
}

.footrsighup {
  margin-left: 10px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.footrsighup h5 {
  font-size: 15vw;
  line-height: 1px;
}



/*  SIGNUP PAGE */

.createpage {
  position: absolute;
  top: 18%;
}

.loginform h3 {
  font-size: 1.3vw;
  font-weight: 600;
  color: #164c96;
}

.loginform h3 span {
  color: rgb(217, 74, 39);
}

.inputfrm span {
  margin-right: 10px;
  color: #6bd1a1;
  font-size: 1vw;
}

.footertext h4 {
  color: rgba(0, 0, 0, 0.493);
  font-size: 0.8vw;
  font-weight: 600;
}

.footertext {
  margin-top: 30px;
}

/* leftBanner */

.firsttxt {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 28%;
  position: relative;
}

.boxx-1 {
  width: 100%;
  display: flex;
}

.boxx-1 .number {
  color: #164c96;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
  border-radius: 50%;
  border: 1px solid #164c96;
}

.boxx-1 .number-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
}

.boxx-1 .txt-2 h5 {
  font-size: 0.8vw;
  font-weight: 600;
  color: #164c96;
}

.boxx-1 .txt-2 p {
  line-height: 0.1px;
  font-size: 0.8vw;
  color: #b6b6b6;
}

.boxx-1 .txt-2 {
  margin-left: 5px;
  height: 40px;
}

#txt-3 {
  color: rgba(0, 0, 0, 0.685);
  font-size: 600;
}

.secondtxt {
  width: 60%;
  height: 20%;
  margin-top: -5px;
}

.secondtxt-2 {
  justify-content: space-between;
  display: flex;
}

.txt-3 h1 {
  font-size: 1.5vw;
  font-weight: 600;
  color: #164c96;
}

.txt-3 p {
  font-size: 1vw;
  line-height: 1px;
  color: rgba(0, 0, 0, 0.473);
}

.secondtxt h5 {
  font-size: 0.9vw;
  width: 200px;
  font-weight: 600;
}

.thirdimg {
  margin-top: 8px;
  width: 95%;
  height: 30%;
  margin-left: 10px;
}

.thirdimg img {
  width: 100%;
  height: 100%;
}

.footrsighup {
  margin-left: 10px;
  width: 60%;
  margin: auto;
}

.signupfootr {
  margin-left: 25px;
  width: 58%;
}

.footrsighup-2 {
  display: flex;
  justify-content: space-between;
}

.footrsighup-2 p {
  color: #164c96;
  font-weight: 600;
  font-size: 0.8vw;
}

.footrsighup>h5 {
  font-size: 1vw;
  line-height: 1px;
}

.leftComp-2 {
  width: 30%;
}

.rightCom-2 {
  width: 70%;
}

.leftComp-2 hr {
  margin-top: -1px;
}

.doctext {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.doctext p {
  font-size: 1vw;
  color: #808080;
}

.docfile {
  width: 100%;
  height: 70%;
  border-radius: 10px;
  background-color: #164b9611;
}

.docfile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.uploadfile {
  width: 10%;
  height: 30%;
}

.uploadfile i {
  font-size: 1.5vw;
}

.uploadtext {
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadtext span {
  color: #164c96;
  font-weight: 600;
}

.uploadtext p {
  font-size: 0.9vw;
}

.continue {
  width: 100%;
  height: 48px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.continue a:nth-child(2) {
  color: #ffffff;
}

.button-2 {
  border: none;
  height: 100%;
  width: 20%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #272727;
  border: 1px solid black;
}

.button-2:hover {
  color: #272727;
}

.button-3 {
  border: none;
  height: 100%;
  width: 30%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #164c96;
  color: #ffffff;
}

.createpage h2 {
  font-size: 1.8vw;
  font-weight: 600;
  color: #164c96;
}

.createpage h4 {
  font-size: 1vw;
  font-weight: 600;
}

#sameaddress {
  font-weight: 500;
  color: #1111118f;
}

#addressform {
  width: 60%;
}

#picaddress {
  margin-top: 10px;
  margin-top: 10px;
}

.successicon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 253, 243);
  border-radius: 50%;
}

.successicon i {
  font-size: 1.5vw;
  color: rgb(18, 183, 106);
}

#uploadproduct {
  background-color: #164c96;
  color: #ffffff;
  width: 45%;
  border: none;
  font-size: 1vw;
  font-weight: 600;
}

#dasshboard {
  font-size: 1vw;
  font-weight: 600;
  width: 45%;
  border: 1px solid rgba(0, 0, 0, 0.63);
  color: rgba(0, 0, 0, 0.685);
  background-color: #ffffff;
}
.checkbx{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createpage h5 {
  text-align: left;
  font-size: 1vw;
  width: 69%;
  color: #152e508e;
}
.forgatebtn {
  margin-top: 60px;
}
.forgotepassbtn{
  width: 100%;
}
.verifycode{
  width: 100%;
  background-color: transparent;
  border: none;
}
.verifycode input{
  /* background-color: red; */
  border-radius: 10px;
  border: 1px solid #D0D5DD;
  width: 12%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inpt{
  text-align: center;
}

@media screen and (max-width: 500px){
  .loginComp{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .leftComp{
    width: 100%;
  }
  
  .content{
  margin-left: 0px;

  }
 
  .content h1 {
    font-size: 6vw;
    font-weight: 600;
  }
  .content-2 p {
    font-size: 3.5vw;
  }
  .content-2 i {
    font-size: 3.5vw;
  }
  .loginfooter h5{
    font-size: 3vw;
    margin-top: 50px;
  }
 
  .rightComp{
    width: 100%;
    height: 100vh;
  }
  .userSinUp a{
    font-size: 3vw;
  }
  .userSinUp button{
    font-size: 3vw;
  }
  .userSinUp button .las{
    font-size: 3vw;
  }
  .loginform{
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  .loginform>i{
    font-size: 4vw;
  }
  .loginform h1{
    font-size: 5.9vw;
  }
  .loginform p{
    font-size: 3.5vw;
  }
  .inputfrm input::placeholder {
    font-size: 3.5vw;
  }
  .inputfrm input {
    font-size: 3.5vw;
  }
  .forgetusr a{
    font-size: 3vw;
  }
  .firsttxt{
    width: 100%;
  }
  .boxx-1 .txt-2 h5 {
    font-size: 2.5vw;
  }
  .boxx-1 .txt-2 p {
    font-size: 2.5vw;
  }
  .leftComp-2 hr {
    margin-top: 10px;
  }
  .txt-3 h1 {
    font-size: 6vw;
  }
  .txt-3 p {
    font-size: 3.5vw;
    font-weight: 600;
  }
  .secondtxt h5{
    font-size: 3vw;
  }
  .footrsighup{
    margin-left: 0px;
  }
  .footrsighup-2 p{
    font-size: 2.5vw;
    margin-top: 30px;
  }
  .footrsighup h5{
    font-size: 2.5vw;
  }
  .rightComp{
    width: 100%;
    height: 110vh;
  }
  .loginform{
    padding: 0 20px ;
  }
  .loginform h3{
    font-size: 4.3vw;
  }
  .inputbox-2 span{
    font-size: 3vw;
  }
  .footertext h4{
    font-size: 2.2vw;
  }
  .loginform h2{
    font-size: 5vw;
  }
  .uploadfile i{
    font-size: 5vw;
  }
  .uploadtext p{
    font-size: 2.7vw;
  }
  .uploadtext span{
    font-size: 2.7vw;
  }
  .createpage h4{
    font-size: 2.8vw;
  }
  #addressform{
    width: 100%;
  }
  .inputbox-1{
    height: 40px;
  }
  .inputbox-2{
    height: 40px;
  }
  .inputbox-3-2{
    height: 40px;
  }
  .inputbox-3-3{
    height: 40px;
  }
  #uploadproduct{
    font-size: 3vw;
  }
  #dasshboard{
    font-size: 3vw;
  }
  .signinform h5{
    font-size: 3vw;
  }
  .signinform {
    height: 40%;
  }
  .successicon i{
    font-size: 5vw;
  }
  .button-2{
    height: 75%;
  }
  .button-3{
    height: 75%;
  }
  .button{
    height: 38px;
  }
  #resetpasssucess{
    font-size: 5.6vw;
  }
  element.style{
    display: none;
  }
}

/* Responsive Start */

/* PRODUCT BULK */
.allbulks {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-radius: 10px;
  background-color: #F9FAFB;
}

.product-bulk-upload {
  height: fit-content;
  overflow: auto;
  max-width: 100%;
}
.bulk-main {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.bulk-contents {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E7F4FC;
}
.bulk-coontents-2 {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.bulk-contents-2-heading {
  color: #475467;
  width: 120px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.bulk-contents-2-heading:nth-child(1) {
  color: #164C96;
}
.bulk-coontents-2 h5 {
  font-size: 16px;
}
.view-stock {
  width: 115px;
  cursor: pointer;
  height: 36px;
  border-radius: 50px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: 1px solid #D0D5DD;
  background-color: #fff;
  padding: 8px 14px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bulk-coontents-2 h5 {
  font-size: 16px;
  cursor: pointer;
}
.bulk-contents button {
  border: 1px solid black;
  border-radius: 20px;
}
.upload-bulk-products {
  width: 100%;
  justify-content: space-between;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
#dark-blue {
  color: rgb(22, 76, 150);
}
.bulk-left {
  width: 55%;
  justify-content: center;
}
.bulk-left h3 {
  font-size: 1.87vw;
}
.bulk-left p{
  width: 90%;
  font-size: 144px;
}
.bulk-left-upload {
  width: 100%;
  font-size: 16px;
  color: #fff;
  margin-top: 50px;
  height: 48px;
  background: #164C96;
  border: 1px solid #164C96;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#bulk-text-p {
  color: #08080894;
  font-size: 14px;
}
.bulk-upload-file {
  background-color: #F9FAFB;
  border-radius: 10px;
}
.bulk-upload-file h3 {
  font-size: 1.41vw;
}
.bulk-upload-file p {
  font-size: 13px;
  line-height: 1rem;
  color: #08080894;
}
.bulk-submit {
  /* max-width: 700px; */
  height: 44px;
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
  align-items: center;
}
.bulk-submit-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 8px;
  font-weight: 600;
  font-size: 1vw;
  color: #FFFFFF;
  cursor: pointer;
  /* width: 300px; */
  height: 100%;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 50px;
  border: 1px solid #164C96;
  background: #164C96;
}
.bulk-submit i {
  font-size: 1vw;
}
.bulk-files {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.bulk-files button {
  border-radius: 20px;
}
.bulk-dragged-file {
  width: 100%;
  height: 160px;
  border-radius: 12px;
  border: 2px dashed #164C96;
  background-color: #ffffff;
}
.bulk-dragged-file i {
  background-color: #F2F4F7;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightcontainer .btn:nth-child(2){
  background-color: #164C96;
  color: #fff;
}
.dragged {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.bulk-dragged-file h3 {
  font-size: 16px;
  font-weight: 400;
  color: #667085;
  width: 160px;
  text-align: center;
}
.bulk-dragged-file span {
  color: #164C96;
  font-weight: 600;
}
.bulk-right {
  max-width: 43%;
}
.bulk-right h3 {
  font-size: 1.87vw;
  font-weight: 600;
}
.bulk-right-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bulk-right-one {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  background-color: #E7F4FC;
  color: rgb(22, 76, 150);
  font-size: 14px;
  border-radius: 5px;
}
.bulk-right-two {
  height: 40px;
  width: 92%;
}
.first-1{
  height: 20px;
}
.bulk-right-two p{
  font-size: 14px;
}
.right-bulk-up {
  margin-top: 32px;
}
.secondnav {
  padding: 10px 20px;
}
.secondnav i {
  padding-right: 15px;
  font-size: 1.2vw;
}
.btn {
  text-transform: capitalize;
  font-size: 1.2vw;
  font-weight: 500;
}
#rightcontainer-icon{
  margin-right: 5px;
}
.second-nav-heading{
  font-size: 1.13rem;
  display: flex;
  flex-direction: column;
  margin-bottom: opx;
  font-weight: 600;
  color:  #344054;
}
#bulk-text-p-3{
  max-width: 92%;
}
@media screen and (max-width: 500px) {
  .bulk-contents-2-heading{
    font-size: 14px;
  }
  .bulk-coontents-2{
    padding: 0;
    width: 200px;
  }
  .view-stock{
    font-size: 14px;
  }
  .bulk-contents button {
    font-size: 4vw;
  }
 #rightcontainer-icons{
  font-size: 14px;
 }
 .second-nav-heading{
  font-size: 20px;
 }
 .bulk-text{  
  font-size: 20px;
 }
 #dark-blue{
  font-size: 20px;
 }
 
 .bulk-left {
  width: 100%;
 }
 #bulk-text-p{
  font-size: 11px;
  width: 100%;
 }
 #bulk-text-p-3{
  font-size: 50px;
  width: 100%;
  height: 30px;
 }
 .bulk-upload-file p{
  font-size: 11px;
  width: 95%;
 }
 .bulk-submit{
  width: 99%;
 }
 .bulk-submit-2{
  height: 35px;
  padding: 0px 3px;
  font-size: 12px;
 }
 .bulk-submit-2 i{
  font-size: 12px;
 }
 .dragged h3{
  font-size: 12px;
 }
 .dragged span {
  font-size: 12px;
 }
 .bulk-dragged-file i {
  background-color: #F2F4F7;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
 .bulk-left-upload{
  height: 35px;
  margin-top: 30px;
  font-size: 14px;
 }
 .bulk-dragged-file {
  width: 100%;
  height: 90px;
  border-radius: 12px;
  border: 2px dashed #164C96;
}
 .bulk-right{
  width: 100%;
  height: 100vh;
  margin-top: 30px;
 }
 .bulk-right-content{
   /* background-color: red; */
   justify-content: space-between;
   display: flex;
   flex-direction: row;
   align-items: center;
 }
 .bulk-upload-file{
  margin-top: 10px;
 }
 .bulk-right-two p{
  margin-left: 8px;
 }
 #bulk-text-p-3 p{
  /* background-color: red; */
  width: 100%;
}
 .lllll{
  height: 30px;
  width: 100%;
  /* background-color: red; */
 }
 .bulk-right-last{
  width: 290px;
}
.double-btn{
   padding: 0px 5px;

 }
 .bulk-right {
  max-width: 100%;
}
}